/* Import your theme or style file here */
/* @import "../../style.css"; */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid /* themed("border") */;
  position: sticky;
  top: 0;
  background-color: /* themed("bg") */;
  color: /* themed("textColor") */;
  z-index: 999;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .left span {
  font-weight: bold;
  font-size: 20px;
  color: /* themed("logo") */;
}

.navbar .left .search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid /* themed("border") */;
  border-radius: 5px;
  padding: 5px;
}

.navbar .left .search input {
  border: none;
  width: 500px;
  background-color: transparent;
  color: /* themed("textColor") */;
}

@media (max-width: 767px) {
  .navbar .left .search input {
    display: none;
  }

  .navbar .left .search {
    width: 40px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar .left .search input {
    width: 200px;
  }
}

.navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .navbar .right {
    display: none;
  }
}

.navbar .right .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar .right .user {
    display: none;
  }
}

.navbar .right .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .right .user span {
}
